
/* ==========================================================================
   Global Styles
   ========================================================================== */
   body {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #090e27;
    /* background-image: url('image/galaxy-background.jpg'); /* Chemin relatif vers l'image galaxie */
    background-size: cover;
    background-position: center;
    min-height: 100vh; /* Assure que le body prend au moins toute la hauteur */
    display: flex;
    flex-direction: column; /* Aligner les éléments verticalement par défaut */
    justify-content: flex-start; /* Commencer l'alignement depuis le haut */
    align-items: center;
    box-sizing: border-box; /* Important pour que padding et border n'affectent pas la largeur/hauteur totale */
}

/* ==========================================================================
   Background Stars
   ========================================================================== */
   #star-container-menu,
   #star-container-game {
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       z-index: 1; /* Un z-index supérieur à 0 */
       pointer-events: none;
   }
    .star {
        position: absolute;
        background-color: white;
        border-radius: 50%;
        opacity: 0;
        width: 2px;
        height: 2px;
        animation: twinkle linear infinite 1s;
    }
    @keyframes twinkle {
        0%, 100% { opacity: 0; }
        50% { opacity: 0.6; }
    }
/* ==========================================================================
   Menu
   ========================================================================== */
/* Menu central avec fond bleu foncé semi-transparent */
#menu {
    display: flex;
    flex-direction: column; /* Pour aligner le contenu verticalement */
    justify-content: center; /* Pour centrer le contenu verticalement */
    align-items: center;
    width: 100%;
    height: 100vh; /* Prend toute la hauteur de l'écran */
    position: fixed; /* Rendre le menu fixe */
    top: 0;
    left: 0;
    z-index: 10; /* S'assurer qu'il est au-dessus des autres éléments */
    background-color: rgba(0, 0, 50, 0.8); /* Garder le fond semi-transparent ou opaque selon ton choix */
}
.content-container {
    text-align: center;
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
    z-index: 2; /* Garder le contenu au-dessus du fond du menu */
}

#menu h1#title {
    font-family: 'Cinzel', sans-serif;
    font-size: 40px;
}

#menu h2#subtitle {
    font-family: 'Inter', sans-serif;
    font-size: 25px;
}

h1 {
    font-size: 40px;
    margin-bottom: 30px;
    color: white;
}



#menu button {
    background-color: #2a3a7f;
    border: none;
    color: white;
    padding: 15px 25px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
    margin: 10px;
    transition: background-color 0.3s ease;
}
#menu button:hover {
    background-color: #3b4b8c;
}
.hidden {
    display: none !important;
}
/* ==========================================================================
   PALIERS
   ========================================================================== */

   #palier-page {
    /* Styles de base de la page, comme précédemment */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    background-color: rgba(0, 0, 50, 0.9);
    color: white;
    z-index: 15;
    text-align: center;
    background-image: url(image/BG-Paliers.png);
    background-repeat: no-repeat; /* Empêcher la répétition de l'image */
    background-size: cover; /* Étirer l'image pour couvrir toute la zone */
    background-position: center; /* Centrer l'image */
    }

      
    #palier-page h2 {
        font-size: 2.2em;
        margin-bottom: 10px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        margin-top: 70px; /* Ajoute une marge en haut du titre pour l'espacer du bord */
        margin-bottom: 50px; /* Ajoute une marge en bas du titre pour l'espacer du tableau */
    }

    #palier-list {
        width: 90%; /* Ajuster la largeur de la liste */
        max-width: 500px; /* Limiter la largeur maximale sur les grands écrans */
        margin-bottom: 30px;
        border: 2px solid #ffc107; /* Bordure pour la liste */
        border-radius: 8px;
        overflow: hidden; /* Empêcher les bordures arrondies de dépasser */
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
        background-color: rgba(0, 0, 50, 0.3); /* Bleu foncé transparent */
    }

    #skip-instruction {
        color: rgba(255, 255, 255, 0.7); /* Couleur gris clair */
        font-size: 0.9em;
        margin-top: 30px; /* Ajoute une marge en haut pour l'espacer du bord supérieur */
        margin-bottom: 10px; /* Ajoute un peu d'espace sous le texte */
        cursor: pointer; /* Indique que c'est cliquable */
    }

    
    .palier-row {
        display: flex;
        justify-content: space-between; /* Espacer le numéro et le montant */
        align-items: center;
        padding: 5px 8px;
        border-bottom: 1px solid #555; /* Séparer les lignes */
        font-size: 1.1em;
    }

    .palier-row:last-child {
        border-bottom: none; /* Supprimer la bordure sous la dernière ligne */
    }

    .question-number {
        color: #ddd;
    }

    .amount {
        color: #eee;
    }

    /* Style pour les paliers de sécurité */
    .palier-row.palier-secure {
        background-color: #ffc107; /* Couleur distinctive pour les paliers de sécurité */
        font-weight: bold;
    }

    /* Styles pour le numéro et le montant dans les paliers sécurisés */
    .palier-row.palier-secure .question-number,
    .palier-row.palier-15 .question-number, /* Inclure le palier 15 */
    .palier-row.palier-secure .amount,
    .palier-row.palier-15 .amount { /* Inclure le palier 15 */
        color: #090e27; /* Bleu foncé */
    }

    /* Appliquer également le style de sécurité au palier 15 */
    .palier-row.palier-15 {
        background-color: #ffc107; /* Couleur distinctive pour les paliers de sécurité */
        color: #090e27; /* Bleu foncé pour le texte */
        font-weight: bold;
    }

    /* Style pour le palier actuel (à implémenter via JavaScript) */
    .palier-row.current-palier {
        background-color: #ffc107;
        color: #333;
        font-weight: bolder;
        transform: scale(1.05); /* Le faire légèrement ressortir */
    }

    /* Style pour le palier de départ */
    .palier-row.palier-start {
        background-color: #4CAF50; /* Couleur verte pour le départ */
        color: white;
    }

    #palier-page img#palier-image-clic {
        /* Styles du bouton "continuer", comme précédemment */
        max-width: 60%;
        height: auto;
        cursor: pointer;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }

    #palier-page img#palier-image-clic:hover {
        transform: scale(1.05);
        opacity: 0.9;
    }

    #palier-page img#palier-image-clic:active {
        transform: scale(0.95);
        opacity: 0.8;
    }

/* ==========================================================================
   Game Section
   ========================================================================== */
   #game {
        display: flex;
        flex-direction: column; /* Empiler les éléments verticalement */
        align-items: center; /* Centrer horizontalement */
        width: 100%;
        min-height: 100vh;
        position: fixed;
        top: 0;
        left: 50%; /* Positionne le bord gauche au centre de l'écran */
        transform: translateX(-50%); /* Déplace l'élément de la moitié de sa largeur vers la gauche */
        z-index: 5;
        background-color: #090e27;
        padding: 0;
        box-sizing: border-box;
        justify-content: flex-start; /* Aligner les éléments depuis le haut */
        font-family: "Roboto", sans-serif;
        font-style: normal;
    }

    /* En-tête du jeu (Palier et Score) */
    #game-header {
        width: 95%;
        max-width: 600px;
        text-align: center;
        margin-bottom: 8px;
    }
    .palier-container {
        margin-bottom: 3px;
        padding: 5px;
        text-align: center;
    }

    h2 {
        font-size: 18px;
        margin-bottom: 3px;
        color: white;
    }
    #question-info {
        font-size: 14px;
        color: white;
    }

    /* Zone de l'avatar et des boutons de joker/quitter */
    #avatar-zone {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centrer l'avatar et les boutons */
        margin-bottom: 10px;
        width: 95%;
        max-width: 600px;
    }

    #question-background-container {
        position: relative; /* Garde la position relative pour le positionnement absolu de l'image de fond */
        width: 90%; /* Définis une largeur maximale (ajuste ce pourcentage selon tes besoins) */
        max-width: 800px; /* Ou une largeur maximale en pixels */
        margin-left: auto; /* Centre horizontalement en poussant la marge à gauche */
        margin-right: auto; /* Centre horizontalement en poussant la marge à droite */
        margin-bottom: 18px; /* Garde ou ajuste la marge du bas */
        z-index: 0;
    }

    #question-background-container::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('image/avatarBG.png'); /* Remplace par le chemin de ton image */
        background-size: cover; /* Ajuste selon tes besoins (contain, repeat, etc.) */
        background-repeat: no-repeat; /* Ajuste selon tes besoins */
        opacity: 0.5; /* Ajuste la transparence de l'image si tu le souhaites */
        z-index: -1; /* Place l'image derrière le contenu du conteneur */
        display: flex; /* Utiliser flex pour centrer le contenu à l'intérieur */
        flex-direction: column;
        align-items: center; /* Centrer horizontalement les éléments internes */
    }


    /* Conteneur de l'avatar */
    .avatar-container {
        margin-bottom: 0;
    }
    .avatar-container img {
        width: auto;
        object-fit: contain;
    }

    #avatar-zone .avatar-container img {
        max-height: 160px; /* Augmenter la taille par défaut */
    }

    /* Conteneur des boutons de joker et quitter en haut */
    .jokers-top {
        display: flex;
        justify-content: space-around; /* Distribuer les boutons horizontalement */
        align-items: center;
        width: 100%;
        background-color: #010042;
        height: auto;
    }

    /* Styles pour les boutons de joker en haut */
    .joker-button {
        background-color: transparent;
        border: none;
        padding: 0;
        font-size: 16px;
        cursor: pointer;
        border-radius: 8px;
        transition: background-color 0.3s ease, transform 0.3s ease;
        outline: none;
        box-sizing: border-box;
    }
    
    .joker-button img {
        max-width: 100px; /* Ajuste la taille des icônes de joker */
        height: auto;
        display: block; /* Empêche les marges supplémentaires autour des images */
        margin: 0 auto; /* Centre l'image dans le bouton */
    }

    /* Style spécifique pour le bouton Quitter en haut (si tu veux un style différent) */
    .quit-button-top {
        background-color: #d9534f;
        border: none;
        color: white;
        padding: 10px 15px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        outline: none;
    }
    .quit-button-top:hover {
        background-color: #c9302c;
    }
    
/* ==========================================================================
   Questions
   ========================================================================== */
   #question-container {
        width: 600px;
        height: 150px;
        background-image: url('image/QuestionSQ.png'); /* Remplace par ton image */
        background-size: cover; /* L'image couvre toute la zone sans déformation */
        background-position: center center; /* L'image est centrée */
        border-top: 3px solid #ffdc43; /* Bordure en haut */
        border-bottom: 3px solid #ffdc43; /* Bordure en bas */
        clip-path: polygon(4.5% 0%, 95% 0%, 100% 50%, 95% 100%, 4.5% 100%, 0% 50%);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px; /* Padding à l'intérieur pour éviter que le texte ne touche les bords */
        box-sizing: border-box;
        text-align: center;
        color: white; /* Texte blanc pour contraster avec l'image */
        font-size: 26px; /* Taille du texte */
        font-weight: bold; /* Gras pour la question */
        margin-bottom: 20px; /* Ajouter un peu d'espace sous la question */
    }
    /* Pour le texte de la question */
    #question {
        margin-bottom: 5px;
        max-width: 90%; /* Limiter la largeur du texte à l'intérieur du conteneur fixe */
        word-wrap: break-word; /* Permet au texte de passer à la ligne si nécessaire */
    }
/* ==========================================================================
   Answers
   ========================================================================== */
    /* Styles par défaut des boutons de réponse */
    #answers button {
        background-color: #270580; /* Bleu de fond */
        border: 2px solid #FFEB3B; /* Bordure jaune */
        font-size: 18px;
        cursor: pointer;
        margin-top: 8px; /* Augmente légèrement la marge verticale par défaut */
        margin-bottom: 8px; /* Augmente légèrement la marge verticale par défaut */
        width: 100%;
        max-width: 300px;
        color: white;
        font-weight: bold;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        transition: background-color 0.3s ease, transform 0.3s ease;
        outline: none;
        text-transform: capitalize; /* Optionnel : met en majuscule les réponses */
        transition: background-color 0.5s ease, transform 0.3s ease;
        clip-path: polygon(15% 0%, 85% 0%, 90% 50%, 85% 100%, 15% 100%, 10% 50%); /* Forme hexagonale */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Ajouter un ombrage pour mieux voir la forme */
        padding-top: 20px; /* Ajoute du padding vertical pour augmenter la hauteur par défaut */
        padding-bottom: 20px; /* Ajoute du padding vertical pour augmenter la hauteur par défaut */
    }

    /* Effet hover pour les boutons */
    #answers button:hover {
        background-color: #3b4b8c; /* Changer la couleur au hover */
        transform: scale(1.05); /* Légère animation de zoom */
    }
    /* Style pour le bouton sélectionné */
    #answers button.selected {
        background-color: #FFA500; /* Couleur orange temporaire (pour la sélection) */
    }
    /* Ceci cause l'affichage immédiat des couleurs */
    .correct {
        background-color: green;
    }
    .incorrect {
        background-color: red;
    }

    .answers-container {
        width: 100%;
        margin-bottom: 5px;
        display: flex;
        justify-content: center; /* Centre le conteneur .answers */
        align-items: center; /* Centre verticalement si nécessaire */
    }
    
    .answers {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Deux colonnes de largeur égale */
        gap: 10px; /* Espacement entre les boutons */
        width: 100%;
        max-width: 600px; /* Limite la largeur maximale si nécessaire */
        margin-left: auto; /* Centre horizontalement */
        margin-right: auto; /* Centre horizontalement */
        justify-content: center;
        align-items: center;
    }
    
/* ==========================================================================
   JOKERS
   ========================================================================== */
/* Styles pour la barre des jokers (modifié) */
.jokers {
    display: flex;
    align-items: center;
    justify-content: center; /* Centré par défaut */
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(0, 0, 50, 0.7);
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 7;
}

.avatar-container {
    z-index: 8;
}

.avatar-container img {
    max-height: 60px;
    width: auto;
    object-fit: contain;
}

.jokers-inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
    padding-right: 10px;
}

.joker {
    width: 40px;
    height: 40px;
    margin: 0 5px;
}

.joker img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.joker:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.joker:active {
    transform: scale(0.95);
}

.joker.disabled img {
    filter: grayscale(100%);
    opacity: 0.5;
    pointer-events: none;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #090e27;
    color: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 50; /* S'assurer qu'elle est au-dessus du reste */
    text-align: center;
    width: 300px;
}

#vote-results .vote-bar-container {
    background-color: #333;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden; /* Important pour que la barre ne dépasse pas */
    position: relative; /* Pour positionner le texte par-dessus */
}

#vote-results .vote-bar {
    background-color: #007bff;
    color: white;
    padding: 8px;
    text-align: left; /* Aligner le texte à gauche à l'intérieur de la barre */
    width: 0%; /* La largeur sera mise à jour par JavaScript */
    border-radius: 5px;
    transition: width 0.5s ease-out; /* Animation de la largeur */
    position: relative; /* Pour positionner le pourcentage */
}

#vote-results .vote-bar .percentage {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.9em;
    color: white;
}

#vote-results .answer-label {
    color: #eee;
    font-weight: bold;
    margin-bottom: 5px;
    display: block; /* Pour que chaque label soit sur une nouvelle ligne */
    text-align: left;
}

#vote-results > span:nth-child(1) + .vote-bar-container .vote-bar { /* Pour la première réponse (A) */
    background-color: #007bff; /* Bleu */
}

#vote-results > span:nth-child(3) + .vote-bar-container .vote-bar { /* Pour la deuxième réponse (B) */
    background-color: #28a745; /* Vert */
}

#vote-results > span:nth-child(5) + .vote-bar-container .vote-bar { /* Pour la troisième réponse (C) */
    background-color: #ffc107; /* Jaune */
    color: #333;
}

#vote-results > span:nth-child(7) + .vote-bar-container .vote-bar { /* Pour la quatrième réponse (D) */
    background-color: #dc3545; /* Rouge */
}



/* ==========================================================================
   OPTIONS / AUDIO
   ========================================================================== */
    #options-menu {
        position: fixed; /* Pour le superposer au reste si tu veux */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        z-index: 10; /* Pour être au-dessus des autres éléments */
    }
    .audio-settings {
        margin-bottom: 15px;
    }
    .audio-settings label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }
    .audio-settings input[type="range"] {
        width: 200px;
    }
    .audio-settings span {
        margin-left: 10px;
        font-size: 0.9em;
        color: #ccc;
    }
    #back-to-menu {
        padding: 10px 20px;
        background-color: #555;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1em;
    }
    #back-to-menu:hover {
        background-color: #777;
    }
/* ==========================================================================
   QUIT BUTTON
   ========================================================================== */
    #quit-button {
        background-color: #d9534f; /* Couleur rouge pour indiquer l'action de quitter */
        border: none;
        color: white;
        padding: 10px 15px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
        margin-bottom: 20px; /* Ajouter un peu d'espace en dessous */
        transition: background-color 0.3s ease;
        position: absolute; /* Pour le positionner plus facilement */
        top: 20px; /* Ajuste la position verticale */
        left: 20px; /* Ajuste la position horizontale */
        z-index: 7; /* S'assurer qu'il est au-dessus des autres éléments du jeu */
    }
    #quit-button:hover {
        background-color: #c9302c;
    }
    #endgame .endgame-buttons {
        display: flex;
        gap: 10px; /* Espacement entre les boutons */
        justify-content: center; /* Centrer les boutons */
        margin-top: 20px;
    }
    #endgame .endgame-buttons button {
        padding: 10px 20px;
        background-color: #555;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1em;
    }
    #endgame .endgame-buttons button:hover {
        background-color: #777;
    }

/* ==========================================================================
   END OF GAME
   ========================================================================== */
/* Fenêtre de fin de jeu */
#endgame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 50, 0.8); /* Fond sombre semi-transparent */
    padding: 30px;
    border-radius: 15px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Ombre pour l'effet de profondeur */
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centrage de la fenêtre */
    z-index: 8; /* Au-dessus de la section game */
}
/* Texte de fin de jeu */
#endgame p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}
/* Bouton de redémarrage */
#restart-button {
    background-color: #2a3a7f;
    border: none;
    color: white;
    padding: 15px 25px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}
#restart-button:hover {
    background-color: #3b4b8c;
}
/* Effet d'animation pour le texte */
#endgame p {
    animation: fadeIn 1s ease-out forwards;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ==========================================================================
   QUERY FOR PHONES & TABLETS
   ========================================================================== */

    /* Très petits téléphones (jusqu'à 320px)*/
    @media (max-width: 320px) {
        /* ... tes styles pour les très petits écrans ... */
    }

    /* Petits téléphones (jusqu'à 480px) */
    @media (max-width: 480px) {
        body {
            padding: 0;
            margin: 0px;
            font-size: 16px;
            box-sizing: border-box;
            width: 100vw !important;
            overflow-x: hidden !important;
            min-height: 80dvh;
            overflow-y: hidden;
        }

        h1#title {
            font-size: 30px;
            margin-bottom: 2px;
            color: white;
        }

        h2#subtitle {
            font-size: 20px;
        }

        #game {
            padding-top: 10px;
            padding-bottom: 20px;
            box-sizing: border-box;
            justify-content: flex-start;
            width: 100% !important;
            overflow-y: hidden;
        }

        #content-container {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

        #avatar-zone .avatar-container img {
            max-height: 160px;
        }

        .avatar-container img {
            padding: 15px;
        }

        .joker-button {
            padding: 4px;
            font-size: 10px;
        }

        .joker-button img {
            max-width: 70px;
        }

        .quit-button-top {
            background-color: #dc3545;
            color: white;
            padding: 6px 10px;
            font-size: 12px;
            border: none;
            border-radius: 6px;
            cursor: pointer;
            z-index: 30;
            position: absolute;
            top: -100px;
            left: 45px;
        }

        #palier-page {
            max-width: 100%;
            
        }

        #palier-page th, #palier-page td {
            padding-top: 5px !important; /* Réduit le padding vertical */
            padding-bottom: 5px !important; /* Réduit le padding vertical */
        }

        #question-background-container {
            width: 420px;
            margin-left: 0 !important;
            margin-right: 0 !important;
        }

        #question-container {
            width: 340px;
            margin-left: auto;
            margin-right: auto;
            font-size: 1.2em;
            padding: 17px;
            margin-bottom: 10px;
            text-align: center;
            box-sizing: border-box;
            height: 100px;
        }

        .answers-container {
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 95% !important;
            max-width: none !important;
            margin-left: auto !important;
            margin-right: auto !important;
        }

        .answers {
            gap: 2px !important;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        #answers button {
            font-size: 1.1em !important; /* Augmente légèrement la taille de la police si nécessaire */
            padding-top: 10px !important; /* Augmente le padding en haut */
            padding-bottom: 10px !important; /* Augmente le padding en bas */
            margin-top: 4px !important; /* Ajoute de la marge au-dessus de chaque bouton */
            margin-bottom: 4px !important; /* Ajoute de la marge en dessous de chaque bouton */
            line-height: 1.5 !important;
        }

        #game-header {
            margin-bottom: 1px;
            padding-left: 5px;
        }

        #avatar-zone {
            margin-bottom: 10px;
            flex-direction: column;
            align-items: center;
            padding-left: 5px;
        }

        .jokers-top {
            flex-direction: row;
            justify-content: space-around;
            width: 95%;
            padding-left: 10px;
            padding-right: 10px;
        }

        .answers-container {
            margin-bottom: 6px;
        }
    }

    /* Moyens téléphones (481px à 600px) */
    @media (min-width: 481px) and (max-width: 600px) {
        body {
            font-size: 18px;
            padding-top: 5px;
        }

        #game {
            padding-top: 5px;
            padding-bottom: 5px;
        }

        #content-container {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

        #avatar-zone .avatar-container img {
            max-height: 180px;
        }

        .joker-button {
            padding: 8px;
            font-size: 13px;
        }

        .joker-button img {
            max-width: 60px;
        }

        .quit-button-top {
            padding: 8px 12px;
            font-size: 13px;
        }

        #question-container {
            font-size: 1em;
            padding: 10px;
            margin-bottom: 8px;
            height: auto;
            max-height: none;
        }

        #answers button {
            font-size: 1.4em;
            padding: 12px 20px;
            margin: 8px auto;
            max-height: 20px;
        }

        .answers {
            gap: 5px;
        }

        #game-header {
            margin-bottom: 8px;
        }

        #avatar-zone {
            margin-bottom: 10px;
        }

        .answers-container {
            margin-bottom: 6px;
        }
    }

    /* Grands téléphones / Petites tablettes en portrait (601px à 768px) - Ajoute tes styles ici */
    @media (min-width: 601px) and (max-width: 768px) {
        /* ... tes styles pour les grands téléphones / petites tablettes ... */
    }

    /* Tablettes en paysage et écrans plus grands (à partir de 769px) */
    @media (min-width: 769px) {
        /* ... tes styles pour les tablettes en paysage et écrans plus grands ... */
    }
